@import '~@angular/material/theming';

@mixin dom-dialog-theme($theme) {

    $primary: map-get($theme, primary);

  
    .mat-dialog-container {
      padding: 0 !important;
    }

    .mat-dialog-title {
      margin: 0;
    }

    .dom-dialog-header {
      padding: 6px;
      background-color: mat-color($primary, default);

      .mat-dialog-title {
        margin: 6px;
        color: white;
      }
    }



    .dom-dialog-body {
      padding: 24px;
      position: relative;
    }

    .dom-dialog-actions {
      position: relative;
      bottom: 0px;
      right: 0px;
    }
  }
  