@import '~@angular/material/theming';

@mixin image-icon-theme($theme) {
 
    .button-icon {
      width: 2vw;
      height: 2vw;
      margin: 0.3vw;
    }

    .toolbar-logo {
      width: 3vw;
      height: 3vw;
      margin: 0.3vw;
    }

  }